.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}


.toolbar{
  justify-content: space-between;
}

.ToolBarFlexBox{
  padding: 5px;
  display: flex;
  justify-content: space-around;
}



#myVideo {
	width: 45em;
	height: 30em;
}

#myVideo video{
  width: 45em !important;
  height: 30em;
}

#buttonjs{
  margin: 15px 15px;
}
